[submodule "public"]
	path = public
	url = https://github.com/whchi/whchi.github.io.git
	branch = master
[submodule "themes/hamburg"]
	path = themes/hamburg
	url = https://github.com/hauke96/hugo-theme-hamburg.git
