<article class="list">
  <header>
    <h1 class="li-h1"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    {{ if not (in .Page.Permalink "tools") }}
    <div class="clearfix">
      <div class="post-date pull-left">
        <span class="li-small">
          {{ i18n "postedOn" }} {{ .Date.Format ( i18n "dateformat" ) }}
        </span>
      </div>
    </div>
    {{ end }}
  </header>
  <div class="summary">
    {{ if (isset .Params "summary") }} {{ markdownify .Params.Summary }} {{ else
    }} {{ .Summary }} {{ end }}
  </div>
  <div class="tags">
    {{ range .Params.tags }} {{ with $.Site.GetPage "taxonomy" ( print "/tags/"
    ( . | urlize ) ) }}
    <span class="post-tag"><a href="{{ .Permalink }}">#{{ .Name }}</a></span>
    {{ end }} {{ end }}
  </div>
  <!-- <footer>
    <div class="read-more-container">
      <a class="btn btn-primary" href="{{ .Permalink }}">
        <div>
          {{ i18n "readMore" }}<span aria-hidden="true">&nbsp;&para;</span>
        </div>
      </a>
    </div>
  </footer> -->
</article>
