</main>
<footer class="container global-footer">
  <div class="copyright-note pull-left">
    {{ .Site.Copyright | safeHTML }}
  </div>
  {{ partial "link.html" . }}
</footer>

<!-- <script src="{{ .Site.BaseURL }}js/highlight.pack.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script> -->
{{ if (fileExists "layouts/partials/gdpr.html") }}
  {{ partial "gdpr.html" . }}
{{ end }}
{{ if (.Params.mermaid) }}
<script
  async
  src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.8.4/mermaid.min.js"
></script>
{{ end }}
{{ partial "search.html" . }}
{{ partial "toggle_theme.html" . }}
</body>
</html>
