<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2" />
  <meta property="og:title" content="{{ if ne (.Permalink | relURL) "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
  {{ with .Site.Params.themecolor }}
  <meta name="theme-color" content="{{ . }}" />
  {{ end }}
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ if .Param "summary" }}
    <meta name="description" content="{{ .Params.summary }}" />
  {{ else }}
    <meta name="description" content="{{ .Site.Title }}" />
  {{ end }}
  <meta property="og:image" content="/images/favicon.ico" />
  {{ with .Params.images }}
  {{ range first 5 . }}
  <meta property="og:image" content="{{ . }}" />
  {{ end }}
  {{ end }}
  {{ if .IsPage }}
  <meta property="og:type" content="article" />
  {{ with .Site.Params.facebook }}
  <meta property="og:article:author" content="https://facebook.com/W.H.Chi" />
  {{ end }}
  <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
  {{ range .Params.tags }}
  <meta property="og:article:tag" content="{{ . }}" />
  {{ end }}
  {{ else }}
  <meta property="og:type" content="website" />
  {{ end }}
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' *.cloudflareinsights.com;">
  <title>
    {{ if ne (.Permalink | relURL) "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}
  </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/github.css" />
  <link rel="stylesheet" href="/css/color-theme.css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&display=swap" type="text/css">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  {{ range .Site.Params.customCSS }}
  <link rel="stylesheet" href="{{ (print "css/" . ) | absURL }}">
  {{ end }}

  {{ if eq (.Permalink | relURL) "/" }}
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{ end }}

  {{ if (fileExists "layouts/partials/tracking.html") }}
  {{ partial "tracking.html" . }}
  {{ end }}
</head>

<body>
  {{ if (fileExists "layouts/partials/body-tracking.html") }}
  {{ partial "body-tracking.html" . }}
  {{ end }}
  {{ if isset .Params "preview_image" }}
  <header class="global-header" style="background-image:url({{ .Params.preview_image }})">
    {{ else }}
    <header class="global-header" style="background-image:url({{ "images/background.webp" | absURL }})">
      {{ end }}
      <section class="header-text">
        <div class="header-desc">
          <h1><a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a></h1>
          {{ with .Site.Params.subtitle }}
          <h2 class="tag-line">
            {{ . }}
          </h2>
          {{ end }}
        </div>
        <!-- sites -->
        <div class="navbar-container">
          {{ range .Site.Menus.main }}
          <a class="btn btn-default navbar-item" href="{{ .URL | absLangURL | safeURL }}">
            {{ .Name }}
          </a>
          {{ end }}
        </div>
        <!-- Languages -->
        {{ $url := urls.Parse .Permalink }}
        <!-- The url.Host has only the domain in it -->
        {{ $address := print $url.Scheme "://" $url.Host }}
        <!-- Dirrerence between address and base URL. This could result in "" or "/beta/" or similar. -->
        {{ $i18nBasePath := strings.TrimPrefix $address .Site.BaseURL }}
        <!-- Path like "/beta/" attached with the language code. E.g. "/beta/de" -->
        {{ $pathPrefix := print $i18nBasePath .Language }}
        <!-- This will get the path to the resource from the language code and beyond -->
        {{ $path := strings.TrimPrefix $pathPrefix $url.Path }}
        {{ if .IsTranslated }}
        <div class="language-container">
          {{ range .Site.Home.AllTranslations }}
          <a class="btn btn-default language-button" href="{{ (.Permalink | relURL) }}{{ strings.TrimPrefix "/" $path }}">{{ .Language.LanguageName }}</a>
          {{ end }}
        </div>
        {{ end }}
      </section>
    </header>
    <main class="container">
