<div class="sns-links hidden-print">
  {{ with .Site.Params.contact }}
    <a rel="noopener noreferrer" href="{{ . }}">
      <i class="fa fa-envelope"></i>
    </a>
  {{ end }}
  {{ with .Site.Params.twitter }}
    <a rel="noopener noreferrer" href="https://twitter.com/{{ . }}" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    {{ end }}
  {{ with .Site.Params.instagram }}
    <a rel="noopener noreferrer" href="https://instagram.com/{{ . }}" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
  {{ end }}
  {{ with .Site.Params.googleplus }}
    <a rel="noopener noreferrer" href="https://plus.google.com/+{{ . }}" target="_blank">
      <i class="fa fa-google"></i>
    </a>
  {{ end }}
  {{ with .Site.Params.facebook }}
    <a rel="noopener noreferrer" href="https://facebook.com/{{ . }}" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
  {{ end }}
  {{ with .Site.Params.github }}
    <a rel="noopener noreferrer" href="https://github.com/{{ . }}" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  {{ end }}
  {{ with .Site.Params.gitlab }}
    <a rel="noopener noreferrer" href="https://gitlab.com/{{ . }}" target="_blank">
      <i class="fa fa-gitlab"></i>
    </a>
  {{ end }}
  {{ with .Site.Params.reddit }}
    <a rel="noopener noreferrer" href="https://reddit.com/user/{{ . }}" target="_blank">
      <i class="fa fa-reddit-alien"></i>
    </a>
  {{ end }}
  {{ with .Site.Params.hackernews }}
    <a rel="noopener noreferrer" href="https://news.ycombinator.com/user?id={{ . }}" target="_blank">
      <i class="fa fa-hacker-news"></i>
    </a>
  {{ end }}
  {{ with .Site.Params.stackoverflow }}
    <a rel="noopener noreferrer" href="https://stackoverflow.com/users/{{ . }}" target="_blank">
      <i class="fa fa-stack-overflow"></i>
    </a>
  {{ end }}
  {{ with .Site.Params.linkedin }}
    <a rel="noopener noreferrer" href="https://linkedin.com/in/{{ . }}" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  {{ end }}
  {{ with .Site.Params.keybase }}
    <a rel="noopener noreferrer" href="https://keybase.io/{{ . }}" target="_blank">
      <i class="fa fa-key"></i>
    </a>
  {{ end }}
</div>
