{{ if (.Params.toc) }}
<div id="scroll-to-top" style="display:none;position:sticky;bottom:1rem;text-align:center">
    <button style="background:transparent;border-color: #558b2f;color: #558b2f;border-width: 1px;width: 2em;">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
    </button>
</div>
<script>
    const scrollToTopButton = document.getElementById('scroll-to-top');

    window.onscroll = function () {
        if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
            scrollToTopButton.style.display = "block";
        } else {
            scrollToTopButton.style.display = "none";
        }
    };

    scrollToTopButton.addEventListener('click', function () {
        document.body.scrollTo({ behavior: 'smooth', top: 0 });
        document.documentElement.scrollTo({ behavior: 'smooth', top: 0 })
    });

</script>
{{ end }}
