<style lang="css">
  #fast-search {
    visibility: hidden;
    position: fixed;
    z-index: 2;
    top: 5%;
    left: 50%;
    display: inline-block;
    width: 100%;
    max-width: 400px;
    height: 45px;
    background-color: #eee7d4;
    transform: translate(-50%, -50%);
    border: 3px solid #eee7d4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 5px 5px;
  }

  #fast-search input {
    width: 100%;
    height: 31px;
    font-size: 1.6em;
    color: #5e7579;
    font-weight: bold;
    background-color: #eee7d4;
    border-radius: 3px 3px 0px 0px;
    border: none;
    outline: none;
    text-align: left;
    display: inline-block;
  }

  #search-results {
    width: 100%;
    list-style-type: none;
    visibility: inherit;
    display: inline-block;
    background-color: #002733;
  }
  #search-results a {
    width: 100%;
    text-decoration: none !important;
    padding: 10px;
    display: inline-block;
  }
  #search-results a:hover,
  #search-results a:focus {
    outline: 0;
    background-color: #9c9c9c;
    color: #fff;
  }
  span.title {
    font-size: 1.1em;
    color: #bf4918;
    font-weight: bold;
  }
  span.summary {
    font-size: 0.9em;
    color: #576e73;
    font-weight: bold;
  }
  .list-item {
    border-bottom: 0.5px dotted #258ad0;
  }
  #tips {
    visibility: visible;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee7d4;
  }
  @media (min-width: 320px) and (max-width: 736px) {
    #tips {
      visibility: hidden;
    }
  }
</style>
<div id="tips">cmd + /</div>
<div id="fast-search">
  <input id="search-input" autocomplete="off" tabindex="0" />
  <section id="search-results"></section>
</div>
<script src="/js/fuse.js"></script>
<script src="/js/fastsearch.js"></script>
