<style lang="css">
  #ascii-search {
    width: 100%;
    font-size: 1.6em;
    color: #5e7579;
    font-weight: bold;
    background-color: #eee7d4;
    border: none;
    outline: none;
    padding: 0.1rem 0.5rem;
  }
  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    border-radius: 5px;
    background-color: #bfbbbb45;
    color: #000;
  }
  .card h1 {
    width: 110px;
    height: 85px;
    border-radius: 5px 0 0 5px;
    margin: 0.75rem;
    padding: 2rem;
    background-color: #fff;
    font-weight: bold;
  }
  .card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  span.desc {
    flex-grow: 2;
    font-weight: 800;
  }
  span.ascii {
    font-weight: 500;
    color: rgb(250, 159, 159);
  }
  span.unicode {
    font-weight: 500;
    color: #558b2f;
  }
  #watermark__example {
    border-radius: 0 0 5px 5px;
    border: 1px dotted #bfbbbb45;
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 10px 5px #bfbbbb21;
  }
  .example-card {
    border-end-start-radius: 0;
    border-end-end-radius: 0;
  }
</style>
<div style="margin-bottom: 1rem">
  <input id="ascii-search" placeholder="search char you want" />
  <section class="result">
    <div class="card example-card">
      <h1>char</h1>
      <div class="content">
        <span class="desc">desc</span>
        <span class="ascii">ascii</span>
        <span class="unicode">unicode</span>
      </div>
    </div>
    <div id="watermark__example">example</div>
  </section>
</div>
<script>
  let asciiData = null;
  let search = document.getElementById('ascii-search');
  let rst = null;
  const exampleTemplate = `
  <div class="card example-card">
      <h1>char</h1>
      <div class="content">
        <span class="desc">desc</span>
        <span class="ascii">ascii</span>
        <span class="unicode">unicode</span>
      </div>
    </div>
    <div id="watermark__example">example</div>
  `;
  const resultSection = document.querySelector('section.result');

  const filter = debounce((e) => {
    rst = null;
    resetResult();
    let kw = e.target.value.toLowerCase();
    if (!kw) {
      resultSection.innerHTML = exampleTemplate;
      return;
    }
    if (!kw.trim()) {
      rst = asciiData.filter((e) => e.char === ' \t' || e.char === ' \n');
    } else {
      rst = asciiData.filter(
        (e) => e.char.indexOf(kw) > -1 || e.desc.indexOf(kw) > -1
      );
    }
    appendResult(rst.slice(0, 10));
  }, 500);
  search.addEventListener('input', filter);
  fetch(
    'https://gist.githubusercontent.com/whchi/45463b3e89178d662c2d0c20d6b8d342/raw/8c9b7137e2f2384d57117cf7e2e749057fc425b7/html_ascii_unicode_map.json'
  ).then(async (r) => {
    asciiData = await r.json();
  });
  function debounce(func, wait, immediate) {
    let timeout;
    return function () {
      let context = this,
        args = arguments;
      let later = function () {
        timeout = null;
        if (!immediate) func.apply(context, args);
      };
      let callNow = immediate && !timeout;
      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
      if (callNow) func.apply(context, args);
    };
  }
  function appendResult(filtered) {
    filtered.forEach((ele) => {
      let card = document.createElement('div');
      card.className = 'card';
      let content = document.createElement('div');
      content.className = 'content';

      let char = document.createElement('h1');
      if (ele.ascii === '&Tab;') {
        char.textContent = '\\t';
      } else if (ele.ascii === '&NewLine;') {
        char.textContent = '\\n';
      } else {
        char.textContent = ele.char;
      }
      card.appendChild(char);

      let desc = document.createElement('span');
      desc.textContent = ele.desc;
      desc.className = 'desc';

      let ascii = document.createElement('span');
      ascii.textContent = ele.ascii;
      ascii.className = 'ascii';

      let unicode = document.createElement('span');
      unicode.textContent = ele.unicode;
      unicode.className = 'unicode';

      content.appendChild(desc);
      content.appendChild(ascii);
      content.appendChild(unicode);
      card.appendChild(content);
      resultSection.appendChild(card);
    });
  }
  function resetResult() {
    resultSection.innerHTML = null;
  }
</script>
